flask
Jinja2
joblib
gunicorn
kiwisolver
MarkupSafe
matplotlib
pandas
numpy
scikit-learn
Pillow
pipreqs
pyparsing
python-dateutil
pytz
requests
opencv-python

six

threadpoolctl
urllib3
Werkzeug
yarg
nltk



keras
tensorflow-cpu
